
.game-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 27vh;
  user-select: none;
  align-items: center;
  animation: fadeIn 0.5s ease-out;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  user-select: none;
}

.result-container{
  margin-top: 1vh;
  width: 60%;
}

.result-container h3{
  padding: 2vh 0;
  /* animation: fadeIn 0.5s ease-out; */
}

.restart-button {
  width: 60%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color:  rgb(235, 235, 235);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 5px solid  rgb(222, 222, 222);
  font-weight: 450;
  color: #36395a;
  line-height: 26px;
  /* animation: fadeIn2 1s ease-out; */
}

/* @keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
      opacity: 0;
  }
  50% {
    opacity: 0;
}
  100% {
      opacity: 1;
  }
} */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}