.cell, .cell-hover, .cell-tapped {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  width: 100px;
  height: 100px;
  border-radius: 17px;
  transition: background-color 0.2s ease-in-out;
}

.cell-hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.3s ease-in-out forwards;
}

@media screen and (max-width: 375px) {
  .cell, .cell-hover, .cell-tapped {
    width: 85px;
    height: 85px;
  }
  p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .cell, .cell-hover, .cell-tapped {
    width: 100px;
    height: 100px;
  }
  p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) and (orientation: portrait) {
  .cell, .cell-hover, .cell-tapped {
    width: 110px;
    height: 110px;
  }
  p {
    font-size: 1.5rem;
  }
}
 
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .cell, .cell-hover, .cell-tapped {
    width: 100px;
    height: 100px;
  }
  p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  
}

@media screen and (min-width: 1900px) {
  .cell, .cell-hover, .cell-tapped {
    width: 125px;
    height: 125px;
  }
  p {
    font-size: 1.6rem;
  }
} 