#root {
  text-align: center;
}


.vertical-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.horizontal-container {
  display: flex;
  justify-content: center;
  height: 100%;
}
